
.posicao1{
    z-index: 9999;
}

.posicao2{
    z-index: 1;
}

.nav2{
     background:#2c2e3e;
     /* background-color: red; */
     /* width: 50%; */
     /* display: flex; */
     /* justify-content: center; */
     margin: 0 auto;
}

.app-main{
    /* background:#2c2e3e; */
}

.container-fluid{
    /* background: blue; */
    /* display: flex; */
    /* justify-content: center; */
}