*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    margin: 0;
    padding: 0;
}

.meu-nav-item {
    margin: 0 15px;
}
.meu-nav-item i {
    color: rgb(221, 101, 58);
}
.meu-nav-mobile-item i {
    color: whitesmoke;
text-shadow: 1px 1px 1px #000;
}
.meu-nav-link {
    color: #1142c4;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400px;
    font-family: 'Arvo';
}

 .navbar-web {
     padding: 15px;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .navbar-web ul {
     list-style: none;
 }

 .navbar-web ul li {
     display: inline;
 }

 .logo-web {
     width: 90px;
     height: 60px;
 }

 .logo-web img {
     width: 100%;
     height: 100%;
 }

 .logo-mobile {
     width: 70px;
     height: 50px;
 }

 .logo-mobile img {
     width: 100%;
     height: 100%;
 }

 .menu-mobile {
     display: none;
padding:10px;
}

.menu-mobile ul {
    list-style: none;
}

.botoes-navbar-web a{margin-left: 8px; padding: 4px; border:1px solid #48aaf4; border-radius: 4px;}
.botoes-navbar-mobile button {
    border: none;
    padding: 0;
    background-color: transparent;
}

.botoes-navbar-mobile button img {
    width: 40px;
    height: 40px;
    background-color: transparent;
}
.botoes-navbar-mobile a{margin-left: 10px; font-family: 'Arvo', sans-serif; padding: 4px; border:1px solid #48aaf4; border-radius: 4px;}
.open {
     display: block;
 }