* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: #fff; */
    box-shadow: 0px 3px 10px #464646;
}

.meu-navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo-nav {
    display: flex;
    justify-content: center;
}

.logo-nav img {
    height: 50px;
}

.meu-nav-list {
    display: flex;
    align-items: center;
}

.meu-nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.meu-nav-item {
    margin: 0 15px;
}

.meu-nav-item i {
    color: rgb(221, 101, 58)
}

.meu-nav-link {
    color: #1142c4;
    text-decoration: none;
    font-size: 1.15rem;
    font-weight: 400px;
}

.login-button a {
    background-color: #0187a7;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (min-width: 800px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .meu-navbar {
        padding: 1.5rem 4rem;
    }

    .meu-nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .login-button a {
        display: none;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .meu-nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button a {
        width: 100%;
    }
}

.open {
    display: block;
}